:root {
  --BG-main-colour: #FFD700;
  --BG-secound-colour: #FFFFFF;
  --BG-third-colour: #333;
  --BG-fourth-colour: #4b4b4b;
  --BG-black: #000000;
  --BG-shadow-colour: #808080;
}


body {
  margin: 30px;
  margin-bottom: 0px;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  background-color:  var( --BG-main-colour);
}

.arrow-to-back{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-arrow{
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color:black;
  cursor: pointer;
}

.icon{
  rotate: -90deg;
}

.container {
  width: 100%;
  min-height: 95vh;
  background-color: var(--BG-secound-colour);
}

.navTop {
  background-color: var(--BG-third-colour);
  color: var(--BG-secound-colour);
  padding: 10px 0;
}

.navbarContainer {
  display: flex;
  justify-content: space-around;
}

.navBottom {
  background-color: var(--BG-fourth-colour);
  color: var(--BG-secound-colour);
  padding: 10px 0;
  margin-bottom:20px;
}

.navbarContainerSecound{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbarItem {
  margin: 0 15px;
  cursor: pointer;
}

.navbarItem.active {
  text-decoration: underline;
  color: var(--BG-main-colour);
}

.report-display {
  width: 90%;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-color: var(--BG-secound-colour);
}

.report-line hr {
  border: 1px solid var(--BG-main-colour);
}

.report-line .last-line {
  border: 1px solid var(--BG-main-colour);
  width: 100%;
}

.report-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  width: 100%;
}

.report-description-header{
  width: 31%;
  text-align: center;
}

.report-date-end-header, .report-date-start-header, .raport-status-header {
  width: 14%;
  text-align: center;
}

.report-comments-header {
  width: 24%;
  text-align: center;
}
.spacer-header{
  width: 7%;
}


.report-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.report-description {
  text-align: center;
  width: 31.2%;
}

.report-date-start, .report-date-end, .report-status {
  text-align: center;
  width: 14.2%;
}

.report-comments {
  text-align: center;
  width: 24.3%;
}

.report-edit-button{
  text-align: center;
  width: 7%;
  height: 26px;
  border: none;
  box-shadow: 5px 2px 2px var(  --BG-shadow-colour);
  background-color: var(--BG-main-colour);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.report-picture-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}

.img-container {
  position: relative;
  display: inline-block;
}

.report-image {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.hover-button-container {
  display: none;
  position: absolute;
  top: 50px;
  right: 100px;
}

.hover-button {
  background-color: var(--BG-main-colour);
  color: var(  --BG-black);
  box-shadow: 5px 2px 2px var(  --BG-shadow-colour);
  border: none;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.img-container:hover .hover-button-container {
  display: block;
}

#report-form{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap:10px;
}

#description{
  width: 30%;
}
.startDate{
  width: 17%;
}
.endDate{
  align-items: center;
  width: 15%;
}
#comments{
  width: 30%;
}
#pictures{
  width: 25%;
}

.addButton{
  text-align: center;
  width: 11%;
  height: 26px;
  border: none;
  box-shadow: 5px 2px 2px var(  --BG-shadow-colour);
  background-color: var(--BG-main-colour);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.button-edit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11%;
}

.confirmButton, .backButton, .deleteButton{
  border: none;
  box-shadow: 5px 2px 2px var(  --BG-shadow-colour); ;
  background-color: var(--BG-main-colour);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom:5px;
  width: 100%;
}

.status-done {
  color: green;
  font-weight: bold;
}

.status-almost-done {
  color: orange;
  font-weight: bold;
}

.status-not-done {
  color: red;
  font-weight: bold;
}
